.navbar {
  display: flex;
  height: var(--topnav-height);

  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.navbar__search {
  background-color: var(--main-bg);
  position: relative;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid #ef5da8;
}
.navbar__search > input {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 10px 60px 10px 20px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  color: var(--txt-color);
}
.navbar__search > i {
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
}

.navbar__right {
  display: flex;
  align-items: center;
}
.navbar__right-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__right-item > img {
  width: 100%;
  margin-right: 5px;
}
.navbar__right-item ~ .navbar__right-item {
  margin-left: 30px;
}
.navbar__right-item > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navbar__right-item > i {
  font-size: 1.5rem;
}
