.signup-container {
  position: relative;
  height: 100vh;
  background: url(../../assets//images//signup_bg.png) no-repeat;
  filter: drop-shadow(0 0 8px black); /* FF~35 */
  filter: drop-shadow(0 0 0 8px black);
  background-color: #000000;
}
.signup-form {
  border-radius: 10px;
  color: #fff;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.signup-form-left {
  width: 50%;
  background: url(../../assets//images//signup_bg2.png) no-repeat;
  filter: drop-shadow(0 0 8px black); /* FF~35 */
  filter: drop-shadow(0 0 0 8px black);
  background-color: #000000;
  background-size: cover;
}
.signup-form-right {
  width: 50%;
  background-color: #000000;
  padding: 30px 40px;
}
.signup-title {
  padding: 70px 0;
  color: #fff;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1.5px;
}
.signup-form-list {
}
.signup-form-list-item {
  width: 100%;
  background: transparent;
  padding: 10px 20px;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.signup-form-service {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
}
.btn-signup {
  display: block;
  background: #0090da;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 0px auto;
  margin-top: 20px;
}
