.revenues-container {
}
.revuenues-filter {
  position: fixed;
  margin-left: 20px;
}
.revenues-title {
  font-size: 22px;
  margin-bottom: 20px;
}
.revenues-card {
  width: 230px;
  height: 120px;
  border: 1px solid #a19b9b;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
.revenues-card-title {
  margin-bottom: 10px;
  font-size: 15px;
}
.revenues-card-row > span {
  margin-left: 10px;
}
