.show_div_add {
  width: 850px;
  height: 600px;
  z-index: 10;
  position: fixed;
  border: 2px solid #a19b9b;
  background-color: white;
}
.header_div_add {
  width: 847px;
  height: 100px;
  position: absolute;
  top: 0;
  background-color: #62b4ff;
}
.title {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 25px;
  font-size: 20px;
  color: white;
}
.txtInfo {
  margin-left: 30px;
  font-size: 15px;
  color: white;
}
.line_add {
  width: 130px;
  height: 3px;

  background-color: #310ebb;
}

.btn_close {
  width: 15px;
  height: 15px;
  background-color: #62b4ff;
  position: absolute;
  right: 0;
  margin: 20px;
}
.btn_pickImage {
  width: 120px;
  height: 30px;
  border: 1px solid #a19b9b;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 20px;
}
.body_div_add {
  width: 1000px;
  height: 500px;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 5px;
}
.picture_product {
  width: 100px;
  height: 100px;
  border: 2px solid #a19b9b;
  background-color: #a19b9b;
  position: absolute;
  margin-left: 50px;
  bottom: 130px;
}
.picture2 {
  width: 100px;
  height: 100px;
  border: 2px solid #a19b9b;
  background-color: #a19b9b;
  position: absolute;
  margin-left: 180px;
  bottom: 130px;
}
.picture3 {
  width: 100px;
  height: 100px;
  border: 2px solid #a19b9b;
  background-color: #a19b9b;
  position: absolute;
  margin-left: 310px;
  bottom: 130px;
}
.picture4 {
  width: 100px;
  height: 100px;
  border: 2px solid #a19b9b;
  background-color: #a19b9b;
  position: absolute;
  margin-left: 440px;
  bottom: 130px;
}
.info1_product {
  margin-left: 200px;
}
.form_row1_product {
  margin-top: 50px;
}
.label1_product {
  font-size: 13px;
  margin-left: 40px;
}
.label2_product {
  font-size: 13px;
  margin-left: 290px;
}
.form_input1_product {
  width: 300px;
  height: 22px;
  border: none;
  border-bottom: 1px solid #a19b9b;
  position: absolute;
  right: 340px;
}
.form_input2_product {
  width: 150px;
  height: 22px;
  border: none;
  border-bottom: 1px solid #a19b9b;
  position: absolute;
  right: 70px;
}
.form_row2_product {
  margin-top: 30px;
}
.form_row3_product {
  margin-top: 30px;
}
.form_row4_product {
  margin-top: 60px;
}

.info2_product {
  margin-left: 50px;
}

.btn_Save {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  background-color: #4cb050;
  position: absolute;
  right: 150px;
  bottom: 30px;
}
.btn_Cancel {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #898c8d;
  position: absolute;
  right: 50px;
  bottom: 30px;
}
